body {
    background-image: url(https://lh3.googleusercontent.com/proxy/fMZ7FZeM4GiHhx0ynz00cmjdYiviAwpV2dHlqTVLIMfPU3e_YqPbDxelCDDNRZgbFYVDN_K14BJ7kQC1sIn3aILDEEcKAlwaJDyyKA);
   
  }

h1.main-sig {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 10px #000000;
  }


#signature {
    position: absolute;
    top: 50%;
    right: 20%;
  }

.signature-text {
    font-family: cursive;
  }

#sig {
    font-size: 150px;
  }

#form-header {
    font-size: 50px;
  }



img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 150px;
    
  }
  
img:hover {
    box-shadow: 0 0 2px 1px rgb(0, 0, 0);
  }

p {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: relative;
    height: relative;
    display: inline-grid;
    margin: 1rem 2rem;
    font-family: cursive;
    background-color: white;
  }

form {
  position: absolute;
  top: 25%;
  left: 1%;
}

#form-header {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 10px #000000;
}
